In [39]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [40]:
train_df = pd.read_csv('../data_file/basic_train.csv')
test_df = pd.read_csv('../data_file/basic_test.csv')

In [41]:
train_df

,building_number,date_time,temperature,rainfall,windspeed,humidity,sunshine,solar_radiation,power_consumption,building_type,...,solar_power_capacity,ess_capacity,pcs_capacity,hour,day,month,year,day_of_year,hour_of_year,day_of_week
0,1,2022-06-01 00:00:00,18.6,NaN,0.9,42.0,NaN,NaN,1085.28,Other Buildings,...,-,-,-,0,2,6,2022,152,3624,2
1,1,2022-06-01 01:00:00,18.0,NaN,1.1,45.0,NaN,NaN,1047.36,Other Buildings,...,-,-,-,1,2,6,2022,152,3625,2
2,1,2022-06-01 02:00:00,17.7,NaN,1.5,45.0,NaN,NaN,974.88,Other Buildings,...,-,-,-,2,2,6,2022,152,3626,2
3,1,2022-06-01 03:00:00,16.7,NaN,1.4,48.0,NaN,NaN,953.76,Other Buildings,...,-,-,-,3,2,6,2022,152,3627,2
4,1,2022-06-01 04:00:00,18.4,NaN,2.8,43.0,NaN,NaN,986.40,Other Buildings,...,-,-,-,4,2,6,2022,152,3628,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203995,100,2022-08-24 19:00:00,23.1,NaN,0.9,86.0,0.5,NaN,881.04,Hotel and Resort,...,-,-,-,19,2,8,2022,236,5659,2
203996,100,2022-08-24 20:00:00,22.4,NaN,1.3,86.0,0.0,NaN,798.96,Hotel and Resort,...,-,-,-,20,2,8,2022,236,5660,2
203997,100,2022-08-24 21:00:00,21.3,NaN,1.0,92.0,NaN,NaN,825.12,Hotel and Resort,...,-,-,-,21,2,8,2022,236,5661,2
203998,100,2022-08-24 22:00:00,21.0,NaN,0.3,94.0,NaN,NaN,640.08,Hotel and Resort,...,-,-,-,22,2,8,2022,236,5662,2
203999,100,2022-08-24 23:00:00,20.7,NaN,0.1,95.0,NaN,NaN,540.24,Hotel and Resort,...,-,-,-,23,2,8,2022,236,5663,2

In [42]:
test_df

,building_number,date_time,temperature,rainfall,windspeed,humidity,building_type,total_area,cooling_area,solar_power_capacity,ess_capacity,pcs_capacity,hour,day,month,year
0,1,2022-08-25 00:00:00,23.5,0.0,2.2,72,Other Buildings,110634.00,39570.00,-,-,-,0,3,8,2022
1,1,2022-08-25 01:00:00,23.0,0.0,0.9,72,Other Buildings,110634.00,39570.00,-,-,-,1,3,8,2022
2,1,2022-08-25 02:00:00,22.7,0.0,1.5,75,Other Buildings,110634.00,39570.00,-,-,-,2,3,8,2022
3,1,2022-08-25 03:00:00,22.1,0.0,1.3,78,Other Buildings,110634.00,39570.00,-,-,-,3,3,8,2022
4,1,2022-08-25 04:00:00,21.8,0.0,1.0,77,Other Buildings,110634.00,39570.00,-,-,-,4,3,8,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16795,100,2022-08-31 19:00:00,22.5,0.0,0.9,84,Hotel and Resort,57497.84,40035.23,-,-,-,19,2,8,2022
16796,100,2022-08-31 20:00:00,20.7,0.0,0.4,95,Hotel and Resort,57497.84,40035.23,-,-,-,20,2,8,2022
16797,100,2022-08-31 21:00:00,20.2,0.0,0.4,98,Hotel and Resort,57497.84,40035.23,-,-,-,21,2,8,2022
16798,100,2022-08-31 22:00:00,20.1,0.0,1.1,97,Hotel and Resort,57497.84,40035.23,-,-,-,22,2,8,2022
16799,100,2022-08-31 23:00:00,19.1,0.0,0.1,99,Hotel and Resort,57497.84,40035.23,-,-,-,23,2,8,2022

- 결측치 처리 풍속 , 습도 interpolate
- capacity들은 -을 0으로 변환
- 비 drop
- solar radiation, sunshine drop

In [43]:
train_df['ddt'] = pd.to_datetime(train_df['date_time'], format='%Y%m%d %H')
train_df.set_index('ddt', inplace=True)
test_df['ddt'] = pd.to_datetime(test_df['date_time'], format='%Y%m%d %H')
test_df.set_index('ddt', inplace=True)

In [44]:
train_df['windspeed'] = train_df['windspeed'].interpolate(method='time')
train_df['humidity'] = train_df['humidity'].interpolate(method='time')
test_df['windspeed'] = test_df['windspeed'].interpolate(method='time')
test_df['humidity'] = test_df['humidity'].interpolate(method='time')

- DI(discomfort index) 추가 
- 0.81×T+0.01×H×(0.99×T−14.3)+46.3

In [45]:
train_df['discomfort_index'] = 0.81 * train_df['temperature'] + 0.01 * train_df['humidity'] * (0.99 * train_df['temperature'] - 14.3) + 46.3
test_df['discomfort_index'] = 0.81 * test_df['temperature'] + 0.01 * test_df['humidity'] * (0.99 * test_df['temperature'] - 14.3) + 46.3

In [46]:
train_df['solar_power_capacity'][train_df['solar_power_capacity'] == '-'] = 0
test_df['solar_power_capacity'][test_df['solar_power_capacity'] == '-'] = 0
# train_df['ess_capacity'][train_df['ess_capacity'] == '-'] = 0
# test_df['ess_capacity'][test_df['ess_capacity'] == '-'] = 0
# train_df['pcs_capacity'][train_df['pcs_capacity'] == '-'] = 0
# test_df['pcs_capacity'][test_df['pcs_capacity'] == '-'] = 0

/var/folders/__/r8r58jz17gj32tjwycl0m0hr0000gn/T/ipykernel_27015/487745099.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['solar_power_capacity'][train_df['solar_power_capacity'] == '-'] = 0
/var/folders/__/r8r58jz17gj32tjwycl0m0hr0000gn/T/ipykernel_27015/487745099.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['solar_power_capacity'][test_df['solar_power_capacity'] == '-'] = 0

In [47]:
train_df.drop(['sunshine', 'solar_radiation', 'rainfall', 'ess_capacity', 'pcs_capacity'], axis=1, inplace=True)
test_df.drop(['rainfall', 'ess_capacity', 'pcs_capacity'], axis=1, inplace=True)

- cooling degree hours (CDH) 와 일평균 CDH 추가(냉방도일)
- 온도에서 24도를 뺀 값
- 24도부터 에어컨을 튼다고 함. 이후 얼마나 사용할지 가정.

In [48]:
train_df['date_time'] = pd.to_datetime(train_df['date_time'])
train_df['date'] = train_df['date_time'].dt.date
# Change the threshold temperature to 24
threshold_temperature = 24

# Recalculate cooling degree hours (CDH)
train_df['cdh'] = train_df['temperature'].apply(lambda x: max(x - threshold_temperature, 0))

# Recalculate average cooling degree hours (CDH) per day for each building
average_cdh_per_day = train_df.groupby(['building_number', 'date'])['cdh'].sum().groupby('building_number').mean()

# Update the average_cdh_per_day column in the dataframe
train_df = train_df.merge(average_cdh_per_day.rename('average_cdh_per_day'), how='left', on='building_number')
# Display the first few rows of the dataframe

In [49]:
test_df['date_time'] = pd.to_datetime(test_df['date_time'])
test_df['date'] = test_df['date_time'].dt.date
# Change the threshold temperature to 24
threshold_temperature = 24

# Recalculate cooling degree hours (CDH)
test_df['cdh'] = test_df['temperature'].apply(lambda x: max(x - threshold_temperature, 0))

# Recalculate average cooling degree hours (CDH) per day for each building
average_cdh_per_day = test_df.groupby(['building_number', 'date'])['cdh'].sum().groupby('building_number').mean()

# Update the average_cdh_per_day column in the dataframe
test_df = test_df.merge(average_cdh_per_day.rename('average_cdh_per_day'), how='left', on='building_number')
# Display the first few rows of the dataframe

In [50]:
train_df

,building_number,date_time,temperature,windspeed,humidity,power_consumption,building_type,total_area,cooling_area,solar_power_capacity,...,day,month,year,day_of_year,hour_of_year,day_of_week,discomfort_index,date,cdh,average_cdh_per_day
0,1,2022-06-01 00:00:00,18.6,0.9,42.0,1085.28,Other Buildings,110634.00,39570.00,0,...,2,6,2022,152,3624,2,63.09388,2022-06-01,0.0,60.075294
1,1,2022-06-01 01:00:00,18.0,1.1,45.0,1047.36,Other Buildings,110634.00,39570.00,0,...,2,6,2022,152,3625,2,62.46400,2022-06-01,0.0,60.075294
2,1,2022-06-01 02:00:00,17.7,1.5,45.0,974.88,Other Buildings,110634.00,39570.00,0,...,2,6,2022,152,3626,2,62.08735,2022-06-01,0.0,60.075294
3,1,2022-06-01 03:00:00,16.7,1.4,48.0,953.76,Other Buildings,110634.00,39570.00,0,...,2,6,2022,152,3627,2,60.89884,2022-06-01,0.0,60.075294
4,1,2022-06-01 04:00:00,18.4,2.8,43.0,986.40,Other Buildings,110634.00,39570.00,0,...,2,6,2022,152,3628,2,62.88788,2022-06-01,0.0,60.075294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203995,100,2022-08-24 19:00:00,23.1,0.9,86.0,881.04,Hotel and Resort,57497.84,40035.23,0,...,2,8,2022,236,5659,2,72.38034,2022-08-24,0.0,57.118824
203996,100,2022-08-24 20:00:00,22.4,1.3,86.0,798.96,Hotel and Resort,57497.84,40035.23,0,...,2,8,2022,236,5660,2,71.21736,2022-08-24,0.0,57.118824
203997,100,2022-08-24 21:00:00,21.3,1.0,92.0,825.12,Hotel and Resort,57497.84,40035.23,0,...,2,8,2022,236,5661,2,69.79704,2022-08-24,0.0,57.118824
203998,100,2022-08-24 22:00:00,21.0,0.3,94.0,640.08,Hotel and Resort,57497.84,40035.23,0,...,2,8,2022,236,5662,2,69.41060,2022-08-24,0.0,57.118824
203999,100,2022-08-24 23:00:00,20.7,0.1,95.0,540.24,Hotel and Resort,57497.84,40035.23,0,...,2,8,2022,236,5663,2,68.95035,2022-08-24,0.0,57.118824

- cdh와 total area를 곱해서 전력량 예측 산출

In [51]:
train_df['total_area_x_cdh'] = train_df['total_area'] * train_df['cdh'] * 0.00001
train_df['total_area_x_average_cdh'] = train_df['total_area'] * train_df['average_cdh_per_day'] * 0.00001
train_df['cooling_area_x_cdh'] = train_df['cooling_area'] * train_df['cdh'] * 0.00001
train_df['cooling_area_x_average_cdh'] = train_df['cooling_area'] * train_df['average_cdh_per_day'] * 0.00001
test_df['total_area_x_cdh'] = test_df['total_area'] * test_df['cdh'] * 0.00001
test_df['total_area_x_average_cdh'] = test_df['total_area'] * test_df['average_cdh_per_day'] * 0.00001
test_df['cooling_area_x_cdh'] = test_df['cooling_area'] * test_df['cdh'] * 0.00001
test_df['cooling_area_x_average_cdh'] = test_df['cooling_area'] * test_df['average_cdh_per_day'] * 0.00001

In [52]:
train_df['date_time'] = pd.to_datetime(train_df['date_time'], format='%Y%m%d %H')
train_df['hour'] = train_df['date_time'].dt.hour
train_df['week'] = train_df['date_time'].dt.isocalendar().week

In [53]:
test_df['date_time'] = pd.to_datetime(test_df['date_time'], format='%Y%m%d %H')
test_df['hour'] = test_df['date_time'].dt.hour
test_df['week'] = test_df['date_time'].dt.isocalendar().week

In [54]:
train_df.columns

Index(['building_number', 'date_time', 'temperature', 'windspeed', 'humidity',
       'power_consumption', 'building_type', 'total_area', 'cooling_area',
       'solar_power_capacity', 'hour', 'day', 'month', 'year', 'day_of_year',
       'hour_of_year', 'day_of_week', 'discomfort_index', 'date', 'cdh',
       'average_cdh_per_day', 'total_area_x_cdh', 'total_area_x_average_cdh',
       'cooling_area_x_cdh', 'cooling_area_x_average_cdh', 'week'],
      dtype='object')

In [55]:
train_df['sin_time'] = np.sin(2*np.pi*train_df.hour/24)
train_df['cos_time'] = np.cos(2*np.pi*train_df.hour/24)

In [56]:
test_df['sin_time'] = np.sin(2*np.pi*test_df.hour/24)
test_df['cos_time'] = np.cos(2*np.pi*test_df.hour/24)

In [57]:
train_df['holiday'] = train_df.apply(lambda x : 0 if x['day']<5 else 1, axis = 1)
train_df['holiday'] = train_df.apply(lambda x : 2 if x['day']==6 else x['holiday'], axis = 1)
test_df['holiday'] = test_df.apply(lambda x : 0 if x['day']<5 else 1, axis = 1)
test_df['holiday'] = test_df.apply(lambda x : 2 if x['day']==6 else x['holiday'], axis = 1)
train_df.loc[('2022-06-01'<=train_df.date_time)&(train_df.date_time<'2022-06-02'), 'holiday'] = 1
train_df.loc[('2022-06-06'<=train_df.date_time)&(train_df.date_time<'2022-06-07'), 'holiday'] = 1
train_df.loc[('2022-08-15'<=train_df.date_time)&(train_df.date_time<'2022-08-16'), 'holiday'] = 1

In [58]:
train_df.drop(['date_time', 'temperature', 'windspeed', 'humidity','month', 'year', 'hour','day_of_year', 'hour_of_year', 'day_of_week', 'date'], axis=1, inplace=True)

In [59]:
test_df.drop(['date_time', 'temperature', 'windspeed', 'humidity','month', 'year', 'hour', 'date'], axis=1, inplace=True)

In [60]:
train_df

,building_number,power_consumption,building_type,total_area,cooling_area,solar_power_capacity,day,discomfort_index,cdh,average_cdh_per_day,total_area_x_cdh,total_area_x_average_cdh,cooling_area_x_cdh,cooling_area_x_average_cdh,week,sin_time,cos_time,holiday
0,1,1085.28,Other Buildings,110634.00,39570.00,0,2,63.09388,0.0,60.075294,0.0,66.463701,0.0,23.771794,22,0.000000,1.000000,1
1,1,1047.36,Other Buildings,110634.00,39570.00,0,2,62.46400,0.0,60.075294,0.0,66.463701,0.0,23.771794,22,0.258819,0.965926,1
2,1,974.88,Other Buildings,110634.00,39570.00,0,2,62.08735,0.0,60.075294,0.0,66.463701,0.0,23.771794,22,0.500000,0.866025,1
3,1,953.76,Other Buildings,110634.00,39570.00,0,2,60.89884,0.0,60.075294,0.0,66.463701,0.0,23.771794,22,0.707107,0.707107,1
4,1,986.40,Other Buildings,110634.00,39570.00,0,2,62.88788,0.0,60.075294,0.0,66.463701,0.0,23.771794,22,0.866025,0.500000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203995,100,881.04,Hotel and Resort,57497.84,40035.23,0,2,72.38034,0.0,57.118824,0.0,32.842090,0.0,22.867652,34,-0.965926,0.258819,0
203996,100,798.96,Hotel and Resort,57497.84,40035.23,0,2,71.21736,0.0,57.118824,0.0,32.842090,0.0,22.867652,34,-0.866025,0.500000,0
203997,100,825.12,Hotel and Resort,57497.84,40035.23,0,2,69.79704,0.0,57.118824,0.0,32.842090,0.0,22.867652,34,-0.707107,0.707107,0
203998,100,640.08,Hotel and Resort,57497.84,40035.23,0,2,69.41060,0.0,57.118824,0.0,32.842090,0.0,22.867652,34,-0.500000,0.866025,0
203999,100,540.24,Hotel and Resort,57497.84,40035.23,0,2,68.95035,0.0,57.118824,0.0,32.842090,0.0,22.867652,34,-0.258819,0.965926,0

In [61]:
test_df

,building_number,building_type,total_area,cooling_area,solar_power_capacity,day,discomfort_index,cdh,average_cdh_per_day,total_area_x_cdh,total_area_x_average_cdh,cooling_area_x_cdh,cooling_area_x_average_cdh,week,sin_time,cos_time,holiday
0,1,Other Buildings,110634.00,39570.00,0,3,71.78980,0.0,7.671429,0.0,8.487208,0.0,3.035584,34,0.000000,1.000000,0
1,1,Other Buildings,110634.00,39570.00,0,3,71.02840,0.0,7.671429,0.0,8.487208,0.0,3.035584,34,0.258819,0.965926,0
2,1,Other Buildings,110634.00,39570.00,0,3,70.81675,0.0,7.671429,0.0,8.487208,0.0,3.035584,34,0.500000,0.866025,0
3,1,Other Buildings,110634.00,39570.00,0,3,70.11262,0.0,7.671429,0.0,8.487208,0.0,3.035584,34,0.707107,0.707107,0
4,1,Other Buildings,110634.00,39570.00,0,3,69.56514,0.0,7.671429,0.0,8.487208,0.0,3.035584,34,0.866025,0.500000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16795,100,Hotel and Resort,57497.84,40035.23,0,2,71.22400,0.0,9.757143,0.0,5.610146,0.0,3.906295,35,-0.965926,0.258819,0
16796,100,Hotel and Resort,57497.84,40035.23,0,2,68.95035,0.0,9.757143,0.0,5.610146,0.0,3.906295,35,-0.866025,0.500000,0
16797,100,Hotel and Resort,57497.84,40035.23,0,2,68.24604,0.0,9.757143,0.0,5.610146,0.0,3.906295,35,-0.707107,0.707107,0
16798,100,Hotel and Resort,57497.84,40035.23,0,2,68.01203,0.0,9.757143,0.0,5.610146,0.0,3.906295,35,-0.500000,0.866025,0
16799,100,Hotel and Resort,57497.84,40035.23,0,2,66.33391,0.0,9.757143,0.0,5.610146,0.0,3.906295,35,-0.258819,0.965926,0

In [62]:
train_df.to_csv('../data_file/fill_na_train.csv', index= False)

In [63]:
test_df.to_csv('../data_file/fill_na_test.csv', index=False)

In [ ]:
train_df

In [33]:
pd.read_csv('../data_file/test_f.csv')

,Unnamed: 0,building_number,temperature,rainfall,windspeed,humidity,building_type,total_area,cooling_area,solar_power_capacity,day,week,sin_time,cos_time,THI,CDH,holiday
0,0,1,23.5,0.0,2.2,72,Other Buildings,110634.00,39570.00,0.0,3,34,0.000000,1.000000,58.3456,-2.5,0
1,1,1,23.0,0.0,0.9,72,Other Buildings,110634.00,39570.00,0.0,3,34,0.258819,0.965926,57.4456,-5.5,0
2,2,1,22.7,0.0,1.5,75,Other Buildings,110634.00,39570.00,0.0,3,34,0.500000,0.866025,57.8725,-8.8,0
3,3,1,22.1,0.0,1.3,78,Other Buildings,110634.00,39570.00,0.0,3,34,0.707107,0.707107,57.9376,-12.7,0
4,4,1,21.8,0.0,1.0,77,Other Buildings,110634.00,39570.00,0.0,3,34,0.866025,0.500000,56.9961,-16.9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16795,16795,100,22.5,0.0,0.9,84,Hotel and Resort,57497.84,40035.23,0.0,2,35,-0.965926,0.258819,61.4824,-34.5,0
16796,16796,100,20.7,0.0,0.4,95,Hotel and Resort,57497.84,40035.23,0.0,2,35,-0.866025,0.500000,65.2725,-34.4,0
16797,16797,100,20.2,0.0,0.4,98,Hotel and Resort,57497.84,40035.23,0.0,2,35,-0.707107,0.707107,66.7056,-35.3,0
16798,16798,100,20.1,0.0,1.1,97,Hotel and Resort,57497.84,40035.23,0.0,2,35,-0.500000,0.866025,65.7281,-36.8,0
16799,16799,100,19.1,0.0,0.1,99,Hotel and Resort,57497.84,40035.23,0.0,2,35,-0.258819,0.965926,65.5429,-40.2,0